.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-width: 100vw;
    min-height: 100vh;
    background-color: #eaeaea;

    .header {
        
        h1 {
            margin: 0;
            font-size: 2rem;
            color: #808080;
        }
    }

    .search-box {
        width: 100%;
        max-width: 300px;
        padding: 1rem;

        input {
            width: 100%;
            padding: 0.5rem 1rem;
            border: 1px solid #808080;
            border-radius: 2rem;
            font-size: 1rem;

        }
    }

    .add-note-box {
        width: 100%;
        max-width: 500px;
        padding: 1rem;
        background-color: white;
        border: none;

        textarea {
            width: 100%;
            height: 300px;
            font-size: 1rem;
            resize: none;
            border: none;

            &:focus {
                outline: none;
            }
            
        }

        .add-note-buttons {
            
            display: flex;
            justify-content: space-between;
            align-items: center;


            .select-color {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                button {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    border: 2px solid #ffffff;
                    margin-right: 1rem;
                    cursor: pointer;

                    &:disabled {
                        border: 1px solid black;
                    }

                    
                }
            }

            .add-button {
                button {
                    border: 1px solid #fffafa;
                    border-radius: 2rem;
                    font-size: 1rem;
                    padding: 0.3rem 2rem;
                    background-color: #44c767;
                    cursor: pointer;
                    color: white;

                    &:hover {
                        background-color: #5cbf2a;
                    }
                }
            }
        }
    }

    .notes-box{
        width: 100%;
        
        display: flex;
        flex-direction: row;
        max-width: 600px;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
    }
}

.pink{
    background-color: #f06292;
    &:hover{
        background-color: #b10d43;
    }
}

.purple{
    background-color: #ba68c8;
    &:hover{
        background-color: #8e44ad;
    }
}
.yellow{
    background-color: #ffd54f;
    &:hover{
        background-color: #d4ac0d;
    }
}
.blue{
    background-color: #4fc3f7;
    &:hover{
        background-color: #039be5;
    }
}
.green{
    background-color: #aed581;
    &:hover{
        background-color: #5e7c38;
    }
}